/* ============================== layout ============================== */
html, body{
    height: 607px;
}

.capa {
    height: 400px;
}

body {
    background: url('img/capa.png');
    background-attachment: fixed;
    font-family: Helvetica, Arial, sans-serif;
}

/* -------- Barra de Navegação -------- */
.img-logo{
    height: 40px;
    width: 142px;
    float: left;
}

.logo {
    margin: 2px 0px 0px 46px;
    height: 40px;
    width: 132px;
    display: block;
    background-size: contain;
    font-size: 20px;
    color: white;
}

nav.navbar-transparente{
    padding: 15px 0px;
    background: rgba(87, 55, 7, 0.7);
    border: none;
}

.navbar-brand{
    padding: 5px 15px;
}

.divisor{
    width: 1px;
    height: 16px;
    background: white;
    margin: 16px 10px;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-nav>li>a:hover, #rodape .nav a:hover  {
    color: #ffa600d0;
    background: none;
}

/* -------- Imagem de Capa -------- */
.capa {
    padding-top: 20px;
    display: table;
    width: 100%;
}

.texto-capa {
    text-align: center;
    color: white;
    display: table-cell;
    vertical-align: middle;
}

/* -------- Botões -------- */
.btn-custom {
    color: white;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    padding: 10px 10px;
    margin: 0px 15px 14px 15px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
    font-weight: 500;
    font-size: 20px;
}
.btn-amarelo {
    background: #fdc55d;
}
.btn-amarelo:hover {
    background-color: #ffa705;
    color: white;
}

.btn-branco {
    border: 2px solid white;
    background: none;
}
.btn-branco:hover {
    background-color: white;
}

/* -------- Seção Serviços -------- */
#servicos {
    background: white;
    padding: 20px 0px;
}

.albuns {
    padding: 14px 0px;
}

.ajuste-img {
    height: 90%;
    width: 90%;
}

/* -------- Cafés -------- */
#cafes {
    background: white;
    padding: 20px 0px;
}

.img-cafe {
    width: 60%;
    text-align: center;
}

.cafe {
    padding: 14px 0px;
}

/* -------- Sobre -------- */
#historia {
    background: white;
    padding: 20px 0px;
}
.central {
    align-items: center;
    justify-content: center;
    display: flex;
}

.caixa-texto {
    border: 1px solid #9d9d9d;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    background: rgb(97, 72, 34);
    transition: background 0.4s, color 0.4s;
}

.caixa-texto:hover {
    background : rgb(71, 46, 8);;
}

.hist {
    margin-top: 20px;
}

/* -------- Contato -------- */
#contato {
    background: white;
    padding: 20px 0px;
}

.atendimento {
    padding-left: 20px;
}

#professor {
    border: 2px solid #9d9d9d;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
}

/* -------- Rodapé -------- */
footer {
    background: rgba(87, 55, 7, 1);
    padding: 30px 0px 5px 0px;
    position: relative;
    width: 100%;
}

.rede-social {
    float: right;
    margin: 5px;
    padding: 1px;
}

.espacamento {
    margin: 5px 0px;
}
/* ============================ Tipografia ============================ */
h1 {
    font-size: 100px;
    font-weight: 900;
    letter-spacing: -0.05em;
    color: #fdc55d;
    margin-top: 50px;
}

h2 {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -0.04em;
}

h3 {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: -0.04em;
}

#rodape p{
    text-align: center;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    padding: 4px;
}

#servicos h2, #servicos h3, #cafes h3, #historia h2 {
    color: #fdc55d;
}

#contato h4 {
    color: #fdc55d;
    font-size: 20px;
}

.modalFonte {
    font-size: 30px;
    font-weight: 700;
    color: #fdc55d;
}

.caixa-texto p {
    font-size: 20px;
    color: white;
}

.borda {
    border: 1px solid red
}